[Unit]
Description=gspy daemon
Requires=gspy.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=gs
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/gspy
ExecStart=/home/gs/.venv/gspy/bin/gunicorn gspy.main:app -w 4 -k uvicorn.workers.UvicornWorker
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target